.pagination-container {
    display: flex;
    justify-self: center;
    padding-left: 0px;
}

.pagination-item {
    list-style-type: none;
    padding: 5px;
    border: solid 1px black;
    cursor: pointer;
}