.sub-pic-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.sub-pic {
    max-height: 20rem;
    max-width: 20rem;
}

.next-arrow {
    position: absolute;
    color: #000000;
    font-size: 2.5em;
    font-weight: bold;
    right: 2vh;
    top: 15vh;
    cursor: pointer;
}

.prev-arrow {
    position: absolute;
    color: #000000;
    font-size: 2.5em;
    font-weight: bold;
    left: 2vh;
    top: 15vh;
    cursor: pointer;
}