.navbar-container {
    display: flex;
    gap: 20px;
    padding-left: 0;
}

.navbar-item {
    list-style-type: none;
    white-space: nowrap;
    cursor: pointer;
}

.navbar-item:hover {
    color: blue;
    text-decoration: underline;
}